@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the voting system</h1>
    <h2>democracy is the only system that persists in asking the powers that be whether they are the powers that ought to be - Sydney .J. Harris</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> 
</div>
