@{
    ViewData["Title"] = "Election Management";
}

<div class="container mt-4">
    <div class="p-5 mb-4 bg-light rounded-3 border">
        <h1>Election Commissioner Portal</h1>
        <p>Create and monitor active school elections.</p>
        <hr />
        <a class="btn btn-primary btn-lg" href="#">Create New Poll</a>
    </div>
</div>
